.footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  align-items: center;
  height: 7rem;
  position: absolute;
  bottom: 0;
  font-size: $l-size;
  width: 100vw;
  justify-content: center;
}
